<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="{{ url_for('create') }}">新規投稿</a>
        <h1>投稿一覧</h1>
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p>{{ post.created_at }}</p>
            </div>
            <a href="{{url_for('edit',id=post.id)}}">編集</a>
            <a href="{{url_for('delete',id=post.id)}}">削除</a>
        {% endfor %}
    </body>
</html>